
.homeContainer{
    /* make it responsive */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 2rem;
    
}
.homeTaskbar{
    flex: 1;
}
.homeFeed{
    flex: 5;
    min-height: auto;
}
.homeWidgets{
    flex: 3;
}
.homeNewsFeed{
    flex-direction: column;
}