.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-bottom: 2rem;


}


.profileTaskbar{
    flex: 1;
}

.profileFeed{
    border: rgb(47, 51, 54) solid 1px;
    height: 100vh;
    flex: 3 1;
}

.profileWidgets{
    flex: 2;
}

.profile-box{
    border-bottom: rgb(47, 51, 54) solid 1px;
    padding: 1rem;

}
 
.cover-picture{
    background-color: #8f8f8f;
    background-size: cover;
    background-position: center;
    height: 200px;
}
  
.profile-picture {
    width: 120px;
    height: 120px;
    background-size: cover;    
    border-radius: 50%;
    border: 3px solid #fff;
  

}

 
.edit-profile {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(83, 100, 113);
    text-overflow: unset;
    color: rgb(239, 243, 244);
    font-weight: 700;

}


.follow-btn button {

  background-color: #007bff;
  color: #ffffff;
}

.following-btn button {

  background-color: #30313390;
  color: #ffffff;
}



.edit-profile button{
    margin-top: 20%;
    border-radius: 9999px;
    padding: 5%;
    width: 120px;

}
  
  .name {
    font-size: 24px;
    font-weight: bold;

  }
  
  .username {
    color: #555;
    margin-top: 5px;
  }

  .location {
    color: #555;
    margin-top: 5px;
  }

  .followers-followings {
    color: #555;
    margin-top: 5px;
  }


  .joined-date {
    color: #555;
    margin-top: 5px;
  }
  
  .bio {
    margin-top: 10px;
  }


  .views-box {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: rgb(47, 51, 54) solid 1px;
  }

  .views-container {
    display: flex;
    justify-content: space-around;
    position: relative;   
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 30px;
  }


  .views-container button{
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid rgb(121, 121, 121);
    color: #cbcbcb;

  }


  .views-container:hover {
    box-shadow: #555;    
    background-color: #1e1e1e;
  }

  .profileDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
  }



 
