.profileContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10rem;
    padding-left: 10rem;



}


.profileTaskbar{
    flex: 1;
}

.profileFeed{
    border: rgb(47, 51, 54) solid 1px;

    flex: 3 1;
}

.profileWidgets{
    flex: 2;
}

.profile-box{
    border-bottom: rgb(47, 51, 54) solid 1px;
    padding: 1rem;

}
 
.cover-picture{
    background-color: #8f8f8f;
    background-size: cover;
    background-position: center;
    height: 200px;
}
  
.profile-picture {
    width: 120px;
    height: 120px;
    background-size: cover;    
    border-radius: 50%;
    border: 3px solid #fff;

}

 
.edit-profile {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(83, 100, 113);
    text-overflow: unset;
    color: rgb(239, 243, 244);
    font-weight: 700;

}


.follow-btn button {

  background-color: #007bff;
  color: #ffffff;
}

.following-btn button {

  background-color: #30313390;
  color: #ffffff;
}



.edit-profile button{
    margin-top: 20%;
    border-radius: 9999px;
    padding: 5%;
    width: 120px;

}
  
  .name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .username {
    color: #555;
    margin-top: 5px;
  }

  .location {
    color: #555;
    margin-top: 5px;
  }

  .followers-followings {
    color: #555;
    margin-top: 5px;
  }


  .joined-date {
    color: #555;
    margin-top: 5px;
  }
  
  .bio {
    margin-top: 10px;
  }


  .views-box {
    display: inline-block;


  }




  .profileDetail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
  }


  .profile-tweet-card {
    border-bottom: 2px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    
   
  }
  

  .comments {
    border: 1px solid #363636; /* Add border */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 1 rem; /* Add padding inside the box */
    display: flex; 
    margin-bottom: 10px;/* Use flexbox for layout */
  }

  
  .comment-profile img{
    background-color: white;
    border-radius: 50%;
    height: 40px;

  }

  .comment-name {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .comment-username {
    color: #6b6b6b; /* Adjust color to match Twitter */
    margin-right: 5px; /* Add some space between username and date */
  }
  
  .comment-date {
    color: #6b6b6b; /* Adjust color to match Twitter */
    margin-right: 5px; /* Add some space between date and content */
  }
  
  .comment-content {
    margin-top: 5px; /* Add margin between date and content */
  }
  

  .tab-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .tab-buttons button {
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #525252;
  }
  
  .tab-buttons button.active {
    font-weight: bold;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid #1da1f2;
  }
  










 
