.searchArea{
    padding: 2%;
}

.searchArea input{
    background-color: rgb(32, 35, 39);
    color: white !important;
    border: transparent;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    display: block;
    word-break: break-word;
    resize: none; /* Prevent manual resizing */
    overflow-y: hidden;
    font-size: 15px;   
    height: 10px;
    font-weight: 500;
}



.searchArea input:focus{
    outline: none;
}




.searchResult{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    border: rgb(47, 51, 54) solid 1px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px 0 rgba(223, 223, 223, 0.1);
    height: fit-content;
    border-radius: 20px;
    padding:0.5%;
    margin-top: 1rem;
    position: relative;
}

.userDetails{
    display: flex;
    flex-direction: row;
    padding: 2%;
    width: 100%;
    margin: 2%;
}
.profilePic img{
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.userCredentials {
    display: flex;
    flex-direction: column;
    padding: 2%;
 
}

.userName{
    font-size: 15px;
    color: #b0b0b0;
}
.mini-username{
    font-size: 12px;
    color: #878686;
    margin-top: 5px;
}
.mini-name {
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}
